:root {
  --primary-title-color: #212121;
  --primary-text-color: #757575;
  --accent-blue-color: #2196f3;
  --pure-white-color: #ffffff;
  --section-bckgd-color: #f5f5f5;
  --main-bckgd-color: #2f303a;
}

body {
  background-color: var(--pure-white-color);
  color: var(--primary-text-color);
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.03em;
  font-size: 14px;
}

a:hover,
a:focus,
a.current {
  color: var(--accent-blue-color);
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

.logo {
  color: var(--primary-title-color);
  font-family: "Raleway", sans-serif;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.logo-half {
  color: var(--accent-blue-color);
  font-family: "Raleway", sans-serif;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

[type="button"] {
  font-family: "Roboto";
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  letter-spacing: 0.03em;
  color: var(--primary-title-color);
}

[type="button"]:hover,
[type="button"]:focus {
  color: var(--pure-white-color);
  background-color: var(--accent-blue-color);
  cursor: pointer;
}

.main-button {
  font-family: inherit;
  font-weight: 700;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: var(--pure-white-color);
  background-color: var(--accent-blue-color);
}

.main-button:hover,
.main-button:focus {
   background: #188CE8;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;
}

.nav-list {
  color: var(--primary-title-color);
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.contacts {
color: var(--primary-text-color);
font-weight: 500;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.02em;
}

.hero {
  background: var(--main-bckgd-color);
  color: var(--pure-white-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1, 36;
  text-align: center;
  text-transform: uppercase;
}

.hero h1 {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
}

.section-title {
  color: var(--primary-title-color);
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
}

.section-list .title {
  color: var(--primary-title-color);
  font-size: 14px;
  line-height: 1.14;
}

.section-team .section-title {
  color: var(--primary-title-color);
}

.team-list .teammate-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  color: var(--primary-title-color);
}

.team-list .teammate-fuction {
  font-size: 16px;
  line-height: 19px;
  color: var(--primary-text-color);
}

/* PORTFOLIO */
.image-list .image-list-title {
  color: var(--primary-title-color);
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.image-list .image-list-item {
  color: var(--primary-text-color);
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
}

/* FOOTER */
.footer  {
  background-color: var(--main-bckgd-color);
  color: var(--pure-white-color);
  line-height: 1.71;
  }

.footer .footer-list {
  font-style: normal;
}

.footer-list .mail,
.footer-list .tel {
  color: rgba(255, 255, 255, 0.6);
}

.footer-list .mail:hover,
.footer-list .tel:hover {
  color: var(--accent-blue-color);
}

.footer-list .mail:focus,
.footer-list .tel:focus {
  color: var(--accent-blue-color);
}

.logo-footer {
  color: var(--pure-white-color);
}

.logo-footer:hover,
.logo-footer:focus {
  color: var(--accent-blue-color);
}
